NameVirtualHost *:80
<VirtualHost *:80>
  ServerName conference.mbird.com
  Redirect / https://conference.mbird.com/
</VirtualHost>

<VirtualHost _default_:443>
  ServerName conference.example.com
  DocumentRoot /usr/local/apache2/htdocs
  SSLEngine On
</VirtualHost>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
