/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */

#container { background: #e7e6e4; -webkit-box-shadow:0 0 0px rgba(0,0,0,0); -moz-box-shadow:0 0 0px rgba(0,0,0,0); box-shadow:0 0 0px rgba(0,0,0,0); }

.col-full  { width: 980px; margin: 0 auto;}

#wrapper {padding-bottom:1.618em; background-image: none;}

.woocommerce_tabs .panel, .woocommerce-tabs .panel { background:#e7e6e4; clear: left;}


#navigation{z-index:9999; width:880px; border-top:none; background-image: none; background-color: #e7e6e4; clear: both; padding: 0 230px; -webkit-border-top-left-radius:6px; -webkit-border-top-right-radius:6px; -moz-border-radius:6px 6px 0 0; border-radius:6px 6px 0 0; }

.nav { z-index:99; margin:0; padding:0; list-style:none; line-height:1; }
.nav a  { position:relative; color:#888 !important; display:block; z-index:100; padding:15px 20px; letter-spacing: 2px; text-decoration:none; text-shadow: none;  }
.nav a:hover, .nav li.current_page_item a, .nav li.current_page_parent a, .nav li.current-menu-item a { color:#000 !important; background-color: #e7e6e4; text-decoration: none !important; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -moz-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0; text-shadow: none; }
.nav li  { float:left; width: auto; margin-right:1px; }
.nav li:hover { background: none; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -moz-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0; color:#888; }
.nav li:hover a { color:#000 !important; text-shadow:none; }
.nav li a.sf-with-ul { padding-right:25px; }

#content{ width:880px; padding:25px 0 0 0; background: url(images/sidebar-right.png) 10px 0 repeat-y;  }

#content h1:first-child { padding-top:0; display: none;}

#tabs ul.wooTabs, #tabs ul.tabs, .woocommerce_tabs ul.tabs, .woocommerce-tabs ul.tabs { padding:0px; overflow: hidden; zoom:1; margin:0; background-image: none;}
.woocommerce_tabs .panel, .woocommerce-tabs .panel {overflow: hidden; background-image: none;}
.widget_shopping_cart p.total, .widget_shopping_cart p.buttons { padding:0 20px; text-align: center; padding-top:1em; padding-bottom:1em; border-left:1px solid rgba(0,0,0,0.1); border-right:1px solid rgba(0,0,0,0.1); background-image: none;}
.single-product .product .summary form.cart { margin-bottom:.618em; overflow: hidden; zoom:1; padding-top:.618em; border-top:1px solid #e6e6e6;background-image: none;}


#topad {float:right; display: none;}
#search-top {float:right;position:relative; display: none;}
#search-top label { display: none; }
#search-top .searchform {position: relative; margin-top:0; margin-right:0px; display: none;}
#search-top input.field {  background: #fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; color:#777; padding:0px 0px 0px 0px; width:0px; margin-right:0px; -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.3), 0 0 0 1px rgba(0,0,0,0.4), inset 0 0 3px rgba(0,0,0,0.1); display: none; }

#search-top input.btn {border:none; position: absolute; width: 0px; height: 0px; right:0px; top:0px; background: #fff; display: none;}

.woocommerce_result_count, .woocommerce-result-count { width:50%; float:left; display: none; }
.woocommerce_ordering, .woocommerce-ordering { width:50%; float: right; text-align: right; display: none; }

#logo  { float:left; margin-left: 0px; display: none;}
#logo h1 { padding:0; display: none;}
#logo h1.site-title { padding:0 0 0 0; display: none;}
#logo img  { padding:0 0 0 0; display: none;}
#logo .site-title, #logo .site-description  { display:none;   }
#logo .site-title a { color:#fff; text-transform:none; text-decoration:none; -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(255,255,255,0.6))); text-shadow: 0 1px 1px rgba(0,0,0,0.3); display: none;}
#logo .site-title a:hover { text-decoration:none !important; display: none;}
#logo .site-description { color:#fff; margin-top:0; margin-bottom:0; display: none;}

#footer{padding: 20px 50px 0; width:880px; background:#e7e6e4; -webkit-border-bottom-left-radius:6px; -webkit-border-bottom-right-radius:6px; -moz-border-radius:0 0 6px 6px; border-radius:0 0 6px 6px;}
#footer p {font-size:10px; color:#888; text-shadow:0 0px 0 rgba(0,0,0,0.0);}
#footer p a { color:#888; font-weight: bold; }

ul.products a img { width:150px; height: auto; padding:0 0 0 0; margin: 0 0 0 0 ; border:0; background: #fff; border-radius:0px; -webkit-box-shadow:0 0 0px rgba(0,0,0,0.25); -moz-box-shadow:0 0 0px rgba(0,0,0,0.25); box-shadow:0 0 0px rgba(0,0,0,0.25); -webkit-transition: all ease-in-out .2s; }
ul.products li .price { position: absolute; top:10px; right:65px; background: #d23d46; padding:2px 12px 2px 8px; font-size:0.8751em; color:#fff; text-shadow:0 0px 0 rgba(0,0,0,0.25); display: none;}
.onsale {background-color: #96c42e; position: absolute; top:10px; left:-6px; padding: 2px 8px; font-size: 0.8751em; text-align: center; color:#fff; z-index: 999; text-shadow: 0 1px 0 rgba(0,0,0,0.1); display: none;}

ul.products li { width:150px; list-style: none; position: relative; margin-left: 35px; margin-right: 35px; text-align: center; margin-bottom: 35px; }

a.cart-button { float:left; padding:15px 20px 6px 40px; display: block; background-color: #d8d8d8; color:#000; background-image:url(images/ico-cart-light.png); background-position:  16px 16px; background-repeat:  no-repeat; text-shadow:0 0px 0 rgba(0,0,0,0.25);}
a.cart-button:hover { -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -moz-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0; background-color: #d8d8d8; color:#222; text-decoration: none !important; background-image:url(images/ico-cart.png); text-shadow: none;}

a.checkout-link { float:left; padding:15px 20px 6px 40px; display: block; background-color: #d8d8d8; color:#000; background-image:url(images/ico-cart.png); background-position:  16px 16px; background-repeat:  no-repeat; text-shadow:0 0px 0 rgba(0,0,0,0.25);}
a.checkout-link:hover { -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -moz-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0; background-color: #d8d8d8; color:#222; text-decoration: none !important; background-image:url(images/ico-cart.png); text-shadow: none;}

.subscription-details {display: none; }

.entry img, img.thumbnail {padding: 0px; border: 0px solid #e6e6e6; background:#F8F8F8;}

#foogallery-gallery-1277 img {padding-left: 15px; padding-right: 15px; background:#e7e6e4;}
#foogallery-gallery-1277 {margin-left: 30px; align: center; background:#e7e6e4;}